.create{
    text-align: center;
    justify-content: space-evenly;
    background-image: url('../img/OIP.jpg');
    height: 660px;
     
}

.formulario{
display:flex;
flex-direction: column;
height: 200px;
width: 250px;
position: relative;
left: 500px;    
margin: 0; 
padding: 0;
}

.names{
 color: rgb(16, 18, 129);
 background-color: green;
}


.btnHome{
position: relative;
left:250px;
background-color:blue;
padding: 5px 10px ;
 border-radius: 60px;
 margin: 0; 

}
.Temperamento{
color:black;
}
.submit{
    margin: 0; 
    padding: 0;

}
