.Body{
    background-image: url('../img/garras.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    overflow-x: hidden;

}
    

    
.select{
    position:relative;
    top: -100px;
    padding: 5px 10px ;
    border-radius: 60px;
    margin: 0; 
    padding: 0;
    }


    .paginado{
        text-align:center;
        justify-content: flex-start;
        margin: 0; 
        padding: 0;
        }
        

        .Dog_map{
         text-align: center;
       display: grid;
       grid-template-columns: auto auto auto;
           margin: 0; 
           padding: 0;
           position: relative;
            left: 100px;
            }
           
           .searchBar{
            text-align : center;
            margin: 0; 
            padding: 0;
            }

            
.select_value{
    background-color: blue;
    margin: 0; 
    padding: 0;
    display: flex;
    }

.searchBar{
text-align : center;
margin: 0; 
padding: 0;
    }
    
.crear-raza{
 position: relative;
top: -170px; left: 550px;

 }

 .btnreate{
   background-color:blue;
   padding: 5px 10px ;
    border-radius: 60px;
    margin: 0; 
  
 
 }


 .FilterTemps{
    margin: 0; 
    padding: 0;

 }


.reset{
    background-color:blue;
    padding: 5px 10px ;
     border-radius: 60px;
     margin: 0; 

}