.img {

    background-image: url('../img/doghome.jpg');
    background-color: white;
    height: 700px;
    background-size:600px 600px;
    background-repeat: no-repeat;
    background-position:center top;
    margin: 0;  
    padding: 0;
    }
    

    .home{
      margin: 0;  
      padding: 0;
      background-color: white;
      position: relative;
      left: -200px;
    }


    .button{
        margin: 0;  
        padding: 0;
        background-color:blue;
        padding: 5px 10px ;
        border-radius: 60px;
        
        }

      .henrydogs{
      position:relative;
    top: 200px;
    left:-300px;
    text-shadow: 
    3px 3px 1px blue,
    5px 5px 2px  green,
    8px 8px 3px black;
    margin: 0;  
    padding: 0;
      }