.img {

    background-image: url('../img/perroLogo.jpg');
    background-color: rgb(190, 178, 178);
    height: 700px;
    background-size:700px 700px;
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0;  
    padding: 0;
    }
    

    .home{
      text-align: center;
      background-color: rgb(190, 178, 178);
         margin: 0;  
        padding: 0;
    }


    .button{
        margin: 0;  
        padding: 0;
        background-color:blue;
        padding: 5px 10px ;
        border-radius: 60px;
      }

      .henrydogs{
        margin: 0;  
        padding: 0;
    background-color: rgb(190, 178, 178);
      }